@use "sass:map";
@use "variables" as *;

// Media Queries
@mixin mq($breakpoint: medium, $rule: max, $addition: false) {
  $breakpoint: map.get($mq-breakpoints, $breakpoint);
  @if $rule == min and $addition {
    $breakpoint: $breakpoint + 1;
  }
  @media (#{$rule}-width: $breakpoint) {
    @content;
  }
}

// Transition
@mixin ease($property: all, $duration: 0.2s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}
