// Breakpoints
$mq-breakpoints: (
  "xlarge": 1199px,
  "large": 1024px,
  "medium": 768px,
  "small": 543px,
  "xsmall": 374px,
);

// Fonts
$base-font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
  "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;

// Colors
$base-text-color: #000;
